import(Rcpp, abind, coda, mvtnorm)
importFrom('graphics', 'plot')
importFrom('stats', 'window', 'cov', 'cov2cor', 'pnorm', 'qnorm', 'quantile')

useDynLib(BayesComm)

S3method(plot, bayescomm)
S3method(summary, bayescomm)
S3method(print, bayescomm)
S3method(window, bayescomm)
S3method(residuals, bayescomm)
S3method(predict, bayescomm)

export(BC, BCfit, DIC, devpart)
