import(Rcpp, abind, coda, mvtnorm)
importFrom(stats, window)
useDynLib(BayesComm)

S3method(plot, bayescomm)
S3method(summary, bayescomm)
S3method(print, bayescomm)
S3method(window, bayescomm)
S3method(residuals, bayescomm)
S3method(predict, bayescomm)

export(BC, BCfit, DIC, devpart)
